@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply min-h-screen bg-white text-slate-900 antialiased;
  }

  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}
